In [2]:
import pandas as pd
import tensorflow as tf
import numpy as np

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/gpu_cuda10.0/lib/python3.6/site-packages/tensorflow_core/__init__.py:1473: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

In [3]:
df = pd.read_csv('pegasus/data/testdata/track_description.csv', encoding='utf-8-sig') 
df = df[['index', 'race_track_content']]

In [8]:
with open('ckpt/pegasus_ckpt/racing/predictions-10000-.test.txt', encoding='utf-8', errors='ignore') as f:
    lines = f.readlines()

In [25]:
predictions = []
for i in range(len(lines)):
    if i % 2 == 1:
        predictions.append(lines[i].replace('\n', ''))

In [28]:
df['summary'] = predictions

,Unnamed: 0,index,race_track_content,summary
0,0,Albany,Beautiful beaches are tucked in around the sou...,The city of Albany is famous for its beautiful...
1,1,Albury,The Albury Racing Club conducts sixteen (16) t...,The Albury Racing Club conducts sixteen (16) t...
2,2,Ararat,In 1998 the Wimmera Racing Club took control o...,In 1998 the Wimmera Racing Club took control o...
3,3,Armidale,"Armidale, the town locals claim has a city amb...",Armidale is set in the New England Tablelands....
4,4,Bairnsdale,"Bairnsdale races seven times a year, five of w...",Bairnsdale races seven times a year. Five of w...
...,...,...,...,...
94,94,Warrnambool,Warrnambool Racing Club is situated at Warrnam...,Warrnambool Racing Club is on the outskirts of...
95,95,Wellington,The Wellington Race Club is famous around the ...,The Wellington Race Club is famous around the ...
96,96,Wodonga,Wodonga Races is 306 kilomteres nnorth east of...,The Wodonga Cup is run in late November. The t...
97,97,Wyong,Wyong Race Track is situated on the central co...,Wyong Race Track is on the central coast of NS...
98,98,Young,The Young Turf Club holds its annual cup meeti...,The Young Turf Club holds its annual cup meeti...

In [30]:
df.to_csv('summaries.csv', encoding='utf-8-sig')